@import "styles/mixins";

.loader {
  position: absolute;
  width: 100%;
  height: 10px;
  background: linear-gradient(0.25turn, transparent, #fff, transparent);
  animation: loading 2s linear infinite alternate;
  background: {
    repeat: no-repeat;
  };
}

.content {
  margin: 0 10px 100px;
}

.footer {
  @include shadow-primary;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  margin: 0;
  border: 0;
  border-radius: 20px 20px 0 0;
  background: white;
  color: $main-black;
  text-align: center;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 0;
    list-style-type: none;
  }

  &__link {
    @include spec-s;

    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 95px;
    text-decoration: none;

    &__icon {
      margin-bottom: 5px;
    }
  }
}

@keyframes loading {
  0% {
    background-color: hsl(221deg 53% 65%);
    background-position: -500px 0;
  }

  100% {
    background-color: hsl(221deg 53% 45%);
    background-position: 500px 0;
  }
}
