@import "styles/variables";

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: white;

  &__loader {
    display: inline-block;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: $secondary-dark;
    animation: motion 3s ease-in-out infinite;
  }
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }

  25% {
    transform: translateX(-150px) scale(0.3);
  }

  50% {
    transform: translateX(0) scale(1);
  }

  75% {
    transform: translateX(150px) scale(0.3);
  }

  100% {
    transform: translateX(0) scale(1);
  }
}
