@import "styles/mixins";

.container {
  margin: 5px;

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &+label {
      display: inline-flex;
      align-items: center;
      user-select: none;

      &::before {
        content: '';
        display: inline-block;
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        flex-grow: 0;
        margin-right: 10px;
        border: $border-solid $secondary;
        border-radius: 50%;
      }
    }

    &:checked+label::before {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23C6D8FF'/%3e%3c/svg%3e");    }
  }



}


