@import "styles/mixins";
@import "styles/variables";

.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  max-width: 410px;
  margin: 20px auto;

  &__heading {
    @include heading-h2;
  }

  &__name {
    @include heading-h2;

    margin-top: -30px;
    color: $secondary-dark;
  }

  &__ordersheading {
    @include heading-h3;
  }
}
