@import "styles/mixins";

.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  max-width: 410px;
  height: 80vh;
  margin: 0 auto;

  h2 {
    @include heading-h3;

    text-align: center;
  }
}
