@import "variables";

@mixin heading-h1 {
  color: $main-black;
  font: {
    size: 36px;
    weight: 600;
  }
}

@mixin heading-h2 {
  color: $main-black;
  font: {
    size: 30px;
    weight: 600;
  }
}

@mixin heading-h3 {
  color: $main-black;
  font: {
    size: 26px;
    weight: 600;
  }
}

@mixin paragraph {
  color: $main-black;
  line-height: 125%;
  font: {
    size: 18px;
    weight: 400;
  }
}

@mixin action {
  color: $main-black;
  font: {
    size: 16px;
    weight: 400;
  }
}

@mixin spec-s {
  color: $main-black;
  font: {
    size: 18px;
    weight: 400;
  }
}

@mixin spec-l {
  color: $main-black;
  font: {
    size: 24px;
    weight: 400;
  }
}

@mixin price-s {
  color: $main-black;
  font: {
    size: 14px;
    weight: 600;
  }
}

@mixin price-l {
  color: $main-black;
  font: {
    size: 18px;
    weight: 600;
  }
}

@mixin shadow-primary {
  box-shadow: 1px 1px 13px rgb(0 0 0 / 10%);
}

@mixin border-s {
  border-radius: 20px;
}

@mixin border-l {
  border-radius: 50px;
}

@mixin border-action {
  border-radius: 50px 0;
}

@mixin input-base {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  padding: 20px;
  background-color: $light-lime;
}
