// Colors
$main-black: #282B33;
$light-gray: #ADADAD;
$aqua: #B5F2EA;
$lily: #E7ECFF;
$primary: #C3FBD8;
$primary-dark: #4D9969;
$secondary: #C6D8FF;
$secondary-dark: #365DB2;
$warning: #FED6BC;
$warning-dark: #FEB17F;
$light-lime: #F6FFF8;

// Borders
$border-solid: 3px solid;