// Colors
$main-black: #282b33;
$light-gray: #adadad;
$aqua: #b5f2ea;
$lily: #e7ecff;
$primary: #c3fbd8;
$primary-dark: #4d9969;
$secondary: #c6d8ff;
$secondary-dark: #365db2;
$warning: #fed6bc;
$warning-dark: #feb17f;
$light-lime: #f6fff8;
$light-yellow: #fffadd;

// Borders
$border-solid: 3px solid;
