@import "styles/mixins";

.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  justify-content: center;
  max-width: 410px;
  margin: 20px auto;

  h2 {
    @include heading-h2;
  }

  &__products {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  button {
    position: absolute;
    bottom: 120px;
    align-self: center;
  }
}
